<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Bem-vindo</title>
</head>
<body>
    <nav class="menu">
            <img src="img/logo.png" alt="">
            <p>Farmacia Divina Luz</p>
            <a href="login.html"><button>Login</button></a>
    </nav>
    <div class="conteudo">
        <p>Cadastre seus medicamentos na nossa plataforma, <br> vizualize e organize seu estoque de forma simples</p>
        <ul>
            <li><a href="cadastro.html"><img src="img/id.png" alt=""></a></li>
        </ul>
    </div>
    <footer class="rodape">
        &#169Divina Luz - 2022
        <ul>
            <li><img src="img/Instagram Circle.png" alt=""></li>
            <li><img src="img/Envelope.png" alt=""></li>
            <li><img src="img/WhatsApp.png" alt=""></li>
        </ul>
    </footer>
</body>
</html>